<div class="pure-g">
    <servo data="servoBase" on-plus-click="plusClick(servoBase)" on-minus-click="minusClick(servoBase)"></servo>
	<servo data="servoShoulder" on-plus-click="plusClick(servoShoulder)" on-minus-click="minusClick(servoShoulder)"></servo>
    <servo data="servoElbow" on-plus-click="plusClick(servoElbow)" on-minus-click="minusClick(servoElbow)"></servo>
    <servo data="servoWhrist" on-plus-click="plusClick(servoWhrist)" on-minus-click="minusClick(servoWhrist)"></servo>
    <coordinate data="robeCoordinate" on-set-position-click="setPositionClick(robeCoordinate)"></coordinate>
</div>
