<div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-4" style="position:relative; left:{{data.xLane}}px; top:{{data.yLane}}px;">
    <div class="pure-g coordinate-container">
		<div class="pure-u-1-1" style="font-size:20px">
            <br />
			X: <input style="width:50px" type="text" name="x" ng-model="data.X">
		</div>
        <div class="pure-u-1-1" style="font-size:20px">
			Y: <input style="width:50px" type="text" name="y" ng-model="data.Y">
		</div>
        <div class="pure-u-1-1" style="font-size:20px">
			Z: <input style="width:50px" type="text" name="z" ng-model="data.Z">
		</div>
        <div class="pure-u-1-1">
			<br /><button class="pure-button" ng-click="onSetPositionClick(data)">Set Rob-E</button>
		</div>
        <div class="pure-u-1-1"><br /></div>
    </div>
</div>
